
.idea/workspace.xml
.idea/workspace.xml
.idea/uiDesigner.xml
.gradle/5.1/vcsMetadata-1/
.idea/shelf/Uncommitted_changes_before_Update_at_2020-06-02__11_31__Default_Changelist_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_2020-06-02__4_12__Default_Changelist_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_2020-06-02__4_12__Default_Changelist_1.xml
".idea/shelf/Uncommitted_changes_before_Update_at_2020-06-02_\354\230\244\355\233\204_11_31_[Default_Changelist]/"
".idea/shelf/Uncommitted_changes_before_Update_at_2020-06-02_\354\230\244\355\233\204_4_12_[Default_Changelist]/"
".idea/shelf/Uncommitted_changes_before_Update_at_2020-06-02_\354\230\244\355\233\204_4_12_[Default_Changelist]1/"
.idea/shelf/Uncommitted_changes_before_Update_at_2020-06-03__10_33__Default_Changelist_.xml
".idea/shelf/Uncommitted_changes_before_Update_at_2020-06-03_\354\230\244\355\233\204_10_33_[Default_Changelist]/"
".idea/shelf/Uncommitted_changes_before_Update_at_2020-06-03_\354\230\244\355\233\204_10_33_[Default_Changelist]1/"
.idea/shelf/Uncommitted_changes_before_Update_at_2020-06-04__12_39__Default_Changelist_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_2020-06-04__12_49__Default_Changelist_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_2020-06-04__4_32__Default_Changelist_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_2020-06-04__5_03__Default_Changelist_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_2020-06-04__5_44__Default_Changelist_.xml
".idea/shelf/Uncommitted_changes_before_Update_at_2020-06-04_\354\230\244\354\240\204_12_39_[Default_Changelist]/"
".idea/shelf/Uncommitted_changes_before_Update_at_2020-06-04_\354\230\244\355\233\204_12_49_[Default_Changelist]/"
".idea/shelf/Uncommitted_changes_before_Update_at_2020-06-04_\354\230\244\355\233\204_4_04_[Default_Changelist]/"
".idea/shelf/Uncommitted_changes_before_Update_at_2020-06-04_\354\230\244\355\233\204_4_32_[Default_Changelist]/"
".idea/shelf/Uncommitted_changes_before_Update_at_2020-06-04_\354\230\244\355\233\204_5_03_[Default_Changelist]/"
".idea/shelf/Uncommitted_changes_before_Update_at_2020-06-04_\354\230\244\355\233\204_5_44_[Default_Changelist]/"
build/classes/kotlin/test/
build/idea-sandbox/config-test/
build/idea-sandbox/system-test/
build/kotlin/compileKotlin/caches-jvm/inputs/
build/kotlin/compileKotlin/caches-jvm/lookups/
build/kotlin/compileTestKotlin/caches-jvm/
build/kotlin/sessions/
build/tmp/compileJava/
build/tmp/compileTestJava/
out/production/classes/GUI/Main_test_2$1.class
out/production/classes/GUI/Main_test_2$2.class
out/production/classes/GUI/Main_test_2$countThread.class
out/production/classes/GUI/Main_test_2.class
out/production/classes/Sys/Tick.class
out/test/
